<h1>Terms &amp; Conditions</h1>
<p class="lead">By using Draww, you agree to the following things:</p>
<ol>
	<li>All uploaded content you see here is licensed under a Creative Commons <a target="_blank" id="license_title_link" href="http://creativecommons.org/licenses/by-nc/3.0/">Attribution-NonCommercial 3.0 Unported License</a>.</li>
	<li>Anything <b>you</b> upload will also be licensed that way.</li>
	<li>Anything you upload belongs to you, not us. .....unlike Facebook.</li>
	<li>You agree not to upload any <b>pornography or objectionable content</b>. The internet already has enough places for that.</li>
	<li>You agree not to sue us for anything, as the budget for this site is about 50 quid.</li>
</ol>
<p>Hopefully that's all OK by you. Have fun.</p>
<%= link_to 'Back', posts_path, :class => 'btn btn-info' %>