<% if !current_page.last? %>
  <div class="auto-square load-more">
    <div class="dummy"></div>
    <%= link_to content_tag(:i, '', :class => "glyphicon glyphicon-circle-arrow-right"), url, :remote => remote, :class => "inner" %>
  </div>
<% end %>