<% if !current_page.first? %>
  <div class="auto-square back">
    <div class="dummy"></div>
    <%= link_to content_tag(:i, '', :class => "glyphicon glyphicon-circle-arrow-left"), url, :remote => remote, :class => "inner" %>
  </div>
<% end %>